.mat-column-score {
     font-size: 1.5em;
     text-align: center;
     text-transform: uppercase;
     width: 30%;
}

.mat-column-progress {
     font-size: 0.9em;
     font-weight: 300;
     text-align: right;
     text-transform: uppercase;
     width: 70%;
}

tr.mat-footer-row,
tr.mat-row {
     height: 6.5vh;
}

.emoji {
     font-size: 1em;
}
