@import '../../../core/sass/breakpoints.scss';

.mat-form-field {
     width: 60%;
     text-align: center;
     font-size: 3em;
}

.inner-container {
     width: 100%;
     margin: 7em;
}

// lt-lg
@media (max-width: $bp-md-max) {
     .mat-form-field {
          width: 70%;
     }

     .inner-container {
          margin: 0;
     }
}
