<mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
<mat-card *ngIf="questions" fxLayout="column" fxLayoutAlign="center stretch" fxFlexFill>
     <div class="question" fxLayout="row" fxLayoutAlign="center center">
          <span>
               {{ question.question }}
          </span>
     </div>

     <div class="answers" fxLayout="column" fxLayout.gt-sm="column" fxLayoutGap="15" fxFlex="100%">
          <div fxLayout="column" fxLayout.gt-sm="row">
               <div class="option" fxFlex="50%" fxLayoutGap="15">
                    <button (click)="submit('a')" mat-flat-button color="primary">
                         <span class="option_badge">A</span>{{ question.option_a }}
                    </button>
               </div>
               <div class="option" fxFlex="50%" fxLayoutGap="15">
                    <button (click)="submit('b')" mat-flat-button color="primary">
                         <span class="option_badge">B</span>{{ question.option_b }}
                    </button>
               </div>
          </div>

          <div fxLayout="column" fxLayout.gt-sm="row">
               <div class="option" fxFlex="50%" fxLayoutGap="15">
                    <button (click)="submit('c')" mat-flat-button color="primary">
                         <span class="option_badge">C</span>{{ question.option_c }}
                    </button>
               </div>
               <div class="option" fxFlex="50%" fxLayoutGap="15">
                    <button (click)="submit('d')" mat-flat-button color="primary">
                         <span class="option_badge">D</span>{{ question.option_d }}
                    </button>
               </div>
          </div>
     </div>
     <div class="score">🏑 {{ score }}</div>
</mat-card>
