<mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
<mat-card *ngIf="questions" fxLayout="column">
     <div class="question" fxLayout="row">
          <h1>{{ question.question }}</h1>
     </div>

     <div class="answers" fxLayout="row" fxLayout.gt-sm="row" fxLayoutGap="15" fxFlex="100%">
          <div fxLayout="column" fxFlex="100%">
               <div class="option" fxFlex="50%" fxLayoutGap="15">
                    <button (click)="submit('a')" mat-flat-button color="primary">{{ question.option_a }}</button>
               </div>
               <div class="option" fxFlex="50%" fxLayoutGap="15">
                    <button (click)="submit('b')" mat-flat-button color="primary">{{ question.option_b }}</button>
               </div>
          </div>

          <div fxLayout="column" fxFlex="100%">
               <div class="option" fxFlex="50%" fxLayoutGap="15">
                    <button (click)="submit('c')" mat-flat-button color="primary">{{ question.option_c }}</button>
               </div>
               <div class="option" fxFlex="50%" fxLayoutGap="15">
                    <button (click)="submit('d')" mat-flat-button color="primary">{{ question.option_d }}</button>
               </div>
          </div>
     </div>
</mat-card>
<div class="score">🏑 {{ score }}</div>
