.score {
     font-size: 4em;
     text-align: center;
     padding: 0.5em;
}

.question {
     height: 60vh;

     span {
          font-size: 5em;
     }
}

.answers {
     width: 100%;
     position: absolute;
     bottom: 0;
}
