@import '../../../core/sass/breakpoints.scss';

.start {
     .logo {
          img {
               width: 15vw;
               margin-right: 2em;
          }

          h1 {
               font-size: 10em;
          }
     }

     .intro-text {
          padding: 2em;

          .actions {
               margin-top: 1em;
          }
     }
}

// lt-lg
@media (max-width: $bp-md-max) {
     .start {
          .logo {
               h1 {
                    font-size: 5em;
               }
          }
     }
}
