@import '../../../core/sass/breakpoints.scss';
body {
     overflow: hidden;
}
.score {
     font-size: 4.5em;
     text-align: center;
     padding: 0.5em;
}

.question {
     height: 25vh;
     color: #455556;

     span {
          font-size: 5em;
     }
}

.answers {
     margin: 0;
     padding: 0;
     border: none;
     width: 100%;
     position: absolute;
     bottom: 0;

     .option-disabler {
          opacity: 0;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 99999;
     }
}

// lt-lg
@media (max-width: $bp-md-max) {
     .score {
          font-size: 2em;
     }

     .question {
          height: 30vh;
          padding: 0 2em;

          span {
               font-size: 2em;
          }
     }
}
