@import '../../../core/sass/breakpoints.scss';

$a: 70px;
$b: 280px;
$c: 70px;

.goal-container {
     position: relative;
     margin: 0 auto;
     width: 650px;

     img.goal {
          width: 100%;
          max-height: 60vh;
     }

     img.puck {
          position: absolute;
          width: 7%;
          bottom: 5%;
          z-index: 99999;

          &.a {
               left: $a + 25;
               animation: hitGoalA 0.3s ease-out 0s;
          }

          &.b {
               left: $b + 25;
               animation: hitGoalB 0.3s ease-out 0s;
          }

          &.c {
               right: $c + 25;
               animation: hitGoalC 0.3s ease-out 0s;
          }
     }

     .option {
          position: absolute;
          top: 200px;
          width: 100px;
          height: 100px;
          font-size: 5em;
          font-weight: 500;
          text-transform: uppercase;
          color: #00973e;
          background: #fff;

          border-radius: 1em;

          &.correct {
               background: #00973e;
               color: #fff;
               animation: correct 1s ease-out 0s;
          }

          &.wrong {
               background: #f03800;
               color: #fff;
               animation: wrong 1s ease-out 0s;
          }

          &.a {
               left: $a;
          }

          &.b {
               left: $b;
          }

          &.c {
               right: $c;
          }
     }
}

@keyframes correct {
     0% {
          transform: scale(1);
     }

     25% {
          transform: scale(1.5);
     }

     50% {
          transform: scale(1);
     }

     75% {
          transform: scale(1.5);
     }

     100% {
          background: #00973e;
          transform: scale(1);
     }
}

@keyframes wrong {
     0% {
          transform: scale(1);
     }

     25% {
          transform: scale(1.5);
     }

     50% {
          transform: scale(1);
     }

     75% {
          transform: scale(1.5);
     }

     100% {
          background: #f03800;
          transform: scale(1);
     }
}

@keyframes hitGoalA {
     0% {
          bottom: -150%;
          left: -150%;
          transform: scale(3);
     }

     100% {
          bottom: 5%;
          transform: scale(1);
     }
}

@keyframes hitGoalB {
     0% {
          bottom: -150%;
          left: 50%;
          transform: scale(3);
     }

     100% {
          bottom: 5%;
          transform: scale(1);
     }
}

@keyframes hitGoalC {
     0% {
          bottom: -150%;
          right: -150%;
          transform: scale(3);
     }

     100% {
          bottom: 5%;
          transform: scale(1);
     }
}

// lt-lg
@media (max-width: $bp-md-max) {
     .option {
          font-size: 3em !important;
     }
}
