<div class="goal-container">
     <div
          [ngClass]="currentLetter === 'a' && currentCorrect ? 'correct' : ''"
          class="option a {{ currentLetter === 'a' && !currentCorrect ? 'wrong' : '' }}"
     >
          a
     </div>
     <div
          [ngClass]="currentLetter === 'b' && currentCorrect ? 'correct' : ''"
          class="option b {{ currentLetter === 'b' && !currentCorrect ? 'wrong' : '' }}"
     >
          b
     </div>
     <div
          [ngClass]="currentLetter === 'c' && currentCorrect ? 'correct' : ''"
          class="option c {{ currentLetter === 'c' && !currentCorrect ? 'wrong' : '' }}"
     >
          c
     </div>
     <img class="goal" src="../../assets/img/goal.svg" />
     <img *ngIf="hitGoal" class="puck {{ optionLetter }}" src="../../assets/img/puck.svg" />
</div>
