.goal-container {
     position: relative;

     img.goal {
          width: 50%;
          max-height: 35vh;
     }

     img.puck {
          position: absolute;
          left: 45%;
          width: 5%;
          bottom: 5%;
          z-index: 99999;
          animation: hitGoal 0.3s ease-in 0s;

          &.a {
               left: 35%;
          }

          &.b {
               left: 47.5%;
          }

          &.c {
               left: 60%;
          }
     }
}

@keyframes hitGoal {
     0% {
          bottom: -150%;
          transform: scale(3);
     }

     100% {
          bottom: 5%;
          transform: scale(1);
     }
}
