<mat-card *ngFor="let game of (games$ | async)">
     <mat-card-header>
          <mat-card-title>{{ game.title }}</mat-card-title>
          <mat-card-subtitle>{{ game.id }}</mat-card-subtitle>
          <mat-chip-list>
               <mat-chip [color]="color(game.state)" selected> {{ game.state }}</mat-chip>
          </mat-chip-list>
     </mat-card-header>
     <mat-card-content>
          <p>Plays: {{ game.responseCount }}</p>
          <p>Start: {{ game.startDate.toDate() | date }}</p>
          <p>End: {{ game.endDate.toDate() | date }}</p>
     </mat-card-content>
     <mat-card-actions>
          <button mat-raised-button (click)="setCurrentGame(game.id)">Activate game</button>
          <button mat-raised-button (click)="stopGame(game.id)">Stop game</button>
     </mat-card-actions>
     <mat-divider></mat-divider>
</mat-card>
