@import './app/core/sass/breakpoints.scss';
@import './app/core/sass/colors.scss';

$digital-woff-font-path: './assets/fonts/digital.woff';
$digital-woff2-font-path: './assets/fonts/digital.woff2';
$digital-ttf-font-path: './assets/fonts/digital.ttf';

@font-face {
     font-family: 'Digital';
     src: url($digital-woff-font-path) format('woff2'), url($digital-woff2-font-path) format('woff'),
          url($digital-ttf-font-path) format('truetype');
}

body {
     margin: 0;
     font-family: Roboto, 'Helvetica Neue', sans-serif;
     background-image: url('assets/img/bg.jpg');
     overflow: hidden;
}

.app-container {
     width: 94vw;
     height: 94vh;
     margin: 3vh auto;
     text-align: center;
     position: relative;
     background: rgba(255, 255, 255, 0.6);
     border-radius: 10px;
     overflow: hidden;

     button {
          font-size: 2em;
          padding: 0.5em 4em;
          border-bottom-left-radius: 0;
          border-bottom-width: 7px;
          border-bottom-style: solid;
          border-bottom-color: $dark-green;

          &.mat-flat-button.mat-primary {
               color: #f1f8e9;
          }

          &.mat-stroked-button {
               border-bottom-color: #e5ebeb;
          }
     }

     button[disabled] {
          border-bottom-color: transparent;
     }

     h1 {
          width: 100%;
          margin: 0.5em 0;
          font-weight: 300;
          font-size: 5em;
          text-transform: uppercase;
          line-height: 1.2em;
     }

     .mat-card {
          border-radius: 0;
          box-shadow: none;

          .mat-card-header-text {
               width: 100%;
          }
     }

     .mat-elevation-z8 {
          box-shadow: none;
          margin-bottom: 0.5em;
          font-size: 2em;
     }

     .mat-progress-bar {
          height: 14px;
     }

     p {
          line-height: 1.5em;
          font-size: 2em;
          font-weight: 300;
          margin: 0 0 0.5em 0;
     }
}

// This does not belong here
.highlight .false button {
     transform: scale(0.85);
     transition: all 0.5s ease-in;
     border-color: $red;
     background: $red;
}

.highlight .correctOption button {
     transform: scale(1.2);
     transition: all 0.5s ease-in;
     box-shadow: 0 0 4em 0 $green;
     z-index: 99999;
}

// gt-sm
@media (min-width: $bp-md-min) {
}

// lt-md
@media (max-width: $bp-sm-max) {
}

// lt-lg
@media (max-width: $bp-md-max) {
     .app-container {
          button {
               font-size: 1.5em;
               padding: 0.3em 2em;
               border-bottom-width: 4px;
          }

          h1 {
               font-size: 4em;
          }

          p {
               font-size: 1.5em;
          }

          .mat-elevation-z8 {
               margin-bottom: 2em;
               font-size: 1em;
          }
     }
}
