/* You can add global styles to this file, and also import other style files */

html,
body {
     height: 100%;
}

body {
     margin: 0;
     font-family: Roboto, 'Helvetica Neue', sans-serif;
     background-image: url('assets/img/bg.jpg');
}

.app-container {
     width: 90vw;
     margin: 5vh auto;
     position: relative;

     button {
          font-size: 1.2em;
          padding: 1em;
     }
     h1 {
          width: 100%;
          margin-bottom: 0;
          font-weight: 400;
          font-size: 3em;
          line-height: 1.2em;
          text-align: center;
     }
}
